<body>
  <div class="title">
    <h1>{{ title }}</h1>
    <button class="btnLogIn">Iniciar Sesión</button>
  </div>

  <div class="mapaItems">
    <app-map (parroquiaSelected)="handleLocation($event)"></app-map>
  </div>

  <div class="horariosCortes">
    <ng-container *ngIf="!parroquiaSelected">
      <h1>Seleccione una Zona para verificar el horario de corte de luz</h1>
    </ng-container>

    <ng-container *ngIf="parroquiaSelected">
      <h1>Horario para {{ parroquiaSelected.parroquia }}</h1>

      <div class="tablaCortes">
        <div class="alimentador">
          <h3>Alimentador: {{ parroquiaSelected.alimentador }}</h3>
          <h3>Sectores</h3>
          <ul>
            <li *ngFor="let sector of parroquiaSelected.sectores">{{ sector }}</li>
          </ul>
          <h3>Horarios</h3>
          <ul>
            <li *ngFor="let diaHorario of parroquiaSelected.horarios | keyvalue">
              {{ diaHorario.key }}: {{ diaHorario.value }}
            </li>
          </ul>
        </div>
      </div>
    </ng-container>
  </div>
</body>
