body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "titulo titulo"
    "mapa contenido";
  margin: 0;
}

.title {
  background-color: #1c1c1c;
  grid-area: titulo;
  display: flex;
  padding: 20px;
  justify-content: center;
  position: relative;
  height: 35px;
}

.title h1 {
  text-align: center;
  font-size: 2em;
  color: #ffffff;
}

.title button {
  position: absolute;
  right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btnOverlayHorarios{
  background-color: #1e8e1e;
}
.btnLogIn{
  background-color: #007bff;

}
.btnLogIn:hover {
  background-color: #0056b3;
}
.btnOverlayHorarios:hover {
  background-color: #187618;
}

/* Sección de mapa */
.mapaItems {
  grid-area: mapa;
  width: 90%;
  max-width: 800px;
  margin: 30px auto;
  background-color: #1c1c1c;
  color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 75vh;
}

/* Horarios de cortes */
.horariosCortes {
  grid-area: contenido;
  align-items: sace-between;
}

.parroquia-container {
  padding: 25px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1c1c1c;
  color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
}

.alimentadores-scroll {
  height: 65vh;
  overflow-y: auto;
  padding-right: 10px;
}

.alimentador-card {
  background-color: #292929;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-header h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #00bcd4;
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sectores-container,
.horarios-container {
  width: 48%;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  border-bottom: 2px solid #00bcd4;
  padding-bottom: 5px;
  color: #f9a825;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 5px;
  font-size: 1em;
  padding: 8px;
  background: #3a3a3a;
  border-radius: 5px;
}

li strong {
  color: #f9a825;
}

.horariosCortes h1 {
  text-align: center;
  font-size: 1.5em;
  margin: 10px 0 30px 0;
}

/* Overlay de login */
.login-overlay,
.overlay-horarios {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.formulario-horarios {
  background-color: #2e2e2e;
  padding: 40px;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  text-align: center;
  height: 80vh;
  overflow-y: auto;
}

.formulario-horarios h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bold;
}

.formulario-contenido {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-group label {
  font-size: 0.85em;
  color: #e0e0e0;
  margin-bottom: 5px;
}

.form-group select,
.form-group input[type="time"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #444;
  color: #f0f0f0;
  font-size: 1em;
}

.horario-fila {
  display: flex;
  gap: 10px;
}

.btn-container {
  text-align: right;
}

.btn-add {
  color: #ffffff;
  padding: 8px 12px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.tabla-horarios {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla-horarios th,
.tabla-horarios td {
  padding: 10px;
  border-bottom: 1px solid #555;
  text-align: center;
  color: #f0f0f0;
}

.tabla-horarios th {
  background-color: #444;
  font-weight: bold;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.btn-save,
.btn-close {
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 48%;
}

.btn-save:hover {
  background-color: #666666;
}

.btn-close:hover {
  background-color: #777777;
}

.login-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.login-box {
  background-color: #2e2e2e;
  padding: 40px;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

.login-box h1 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bold;
}

.login-box label {
  display: block;
  font-size: 0.85em;
  color: #e0e0e0;
  text-align: left;
  margin-bottom: 8px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #444;
  color: #f0f0f0;
  font-size: 1em;
  transition: all 0.3s ease;
}

.login-box input::placeholder {
  color: #b0b0b0;
}

.login-box input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn-enter,
.btn-cancel {
  width: 100%;
  padding: 12px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-enter {
  background-color: #007bff;
  color: #ffffff;
}

.btn-enter:hover {
  background-color: #0056b3;
}

.btn-cancel {
  background-color: #444;
  color: #f0f0f0;
}

.btn-cancel:hover {
  background-color: #555;
}

.zona-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1c1c1c;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  max-width: 800px;
}

.zona-container:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.zona-titulo {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.zona-container img {
  width: 250px;
}

.zona-boton:hover {
  background-color: #f50057;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


@media (max-width: 1236px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "titulo"
      "mapa"
      "contenido";
    margin: 0;
    overflow-y: auto;
  }
  .form-group select{
    width: 100%;
  }
  .mapaItems {
    width: 100%;
    margin: 30px auto;
    height: auto;
  }
}

@media (max-width: 768px) {
  .table-container{
    width: 100%;
    overflow-x: auto;
  }
  .login-box input {
    width: 90%;
  }

  .login-box,
  .formulario-horarios {
    padding: 20px;
    width: 80%;
    max-width: 350px;
  }

  .login-box h1,
  .formulario-horarios h2 {
    font-size: 1.5em;
  }

  .buttons,
  .button-group,
  .horario-fila {
    flex-direction: column;
  }

  .btn-enter,
  .btn-cancel,
  .btn-save,
  .btn-close {
    width: 90%;
    font-size: 0.9em;
    padding: 10px;
  }

  .tabla-horarios th,
  .tabla-horarios td {
    font-size: 0.9em;
  }
  .title h1 {
    font-size: 1.5em;
  }

  .title button {
    padding: 8px;
    font-size: 0.9em;
  }

  .mapaItems,
  .parroquia-container {
    width: 90%;
    margin: 20px auto;
  }

  .alimentador-card {
    padding: 15px;
  }

  .alimentadores-scroll {
    height: 50vh;
  }

  .formulario-horarios {
    width: 95%;
    padding: 30px;
    max-height: 90vh;
    overflow-y: auto;
  }

  .login-box {
    width: 90%;
    padding: 30px;
    max-width: 350px;
  }

  .horariosCortes h1 {
    font-size: 1.3em;
  }

  .zona-container {
    padding: 1.5rem;
    margin: 1.5rem auto;
  }

  .zona-titulo {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  
  .title h1 {
    font-size: 1.5em;
  }

  .title button {
    padding: 5px;
    font-size: 0.8em;
  }
  .login-box, .formulario-horarios {
    width: 75%;
  }
  .mapaItems,
  .parroquia-container,
  .formulario-horarios {
    width: 100%;
    margin: 15px auto;
  }
  


  .horariosCortes h1 {
    font-size: 1.2em;
  }

  .alimentador-card {
    padding: 10px;
  }

  .alimentadores-scroll {
    height: auto;
    max-height: 45vh;
  }

  .zona-titulo {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .formulario-horarios,
  .login-box {
    padding: 20px;
  }

  .zona-container {
    padding: 1rem;
  }

  .btn-add,
  .btn-save,
  .btn-close,
  .btn-enter,
  .btn-cancel {
    padding: 8px;
    font-size: 0.9em;
  }
}
