.map-content {
    display: grid;
    gap: 2em;
    padding: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "ubicacion combobox" "map map";
}
i{
    margin-left: 10px;
}
button{
    font-size: 1em;
    font-weight: 500;
    text-align: center;
}

.buttons{
    grid-area: ubicacion;
}
.cmb-parroquias{
    grid-area: combobox;
}
.map{
    grid-area: map;
}
.cmb-parroquias select{
    background-color: #656565;
}
