<!-- map.component.html -->
<div class="map-content">
  <div class="buttons">
    <button class="btnUbicacion" (click)="getLocation()">
      Ubicación Actual <i class="fa-solid fa-location-dot"></i>
    </button>
  </div>
  <div class="cmb-parroquias">
    <!-- Selector de parroquias con [(ngModel)] -->
    <select [(ngModel)]="selectedParishName" (change)="onParishSelect($event)">
      <option value="" hidden>Selecciona una Parroquia...</option>
      <option
        *ngFor="let parish of parroquias"
        [value]="parish.properties['DPA_DESPAR']"
      >
        {{ parish.properties['DPA_DESPAR'] }}
      </option>
    </select>
  </div>
  <div id="map" class="map" style="width: 100%; height: 400px"></div>
</div>
